<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8"/>
        <title>LEE</title>
        <style>
            table, th, td { border: 1px solid black; border-collapse: collapse }
            .hidden-col {display: none}
        </style>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/> 
        <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
        <script>
        jQuery(function($){
            $("#table").DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: '/sql/getanother',
                    type: 'GET',
                    dataSrc : ''    
                },
                columns:[
                    {data:'cname'},
                    {data:'category1'},
                    {data:'category2'},
                    {data:'category3'},
                    {data:'campus'},
                ]
            });
        });
        </script>
    </head>
    <body>
        <h1> 동아리 목록 </h1>
        <table id = "table" style="width:75%">
        <thead>
            <tr>
                <th>동아리명</th>
                <th>대분류</th>
                <th>중분류</th>
                <th>소분류</th>
                <th>캠퍼스</th>
            </tr>
        </thead>
        </table>
        <script type = "text/javascript">
            function moveEditPage(){
            location.href = '/update?id=2'
        }
            function moveDeletePage(){
            location.href = '/delete?id=2'
        }
    </body>
</html>