<div>
    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a href="/getOne">메인</a>
            </li>
            <li>
                <a href="/updateData">수정</a>
            </li class="nav-item">
            <li>
                <a href="/changePWD">비밀번호 변경</a>
            </li class="nav-item">
        </ul>
    </nav>
    <% if (menu != "login") { %>
        <button onclick="location.href='/logout'" style="display: inline; margin-top: 0px; margin-bottom: 5px; float:right; width: 20%; background-color: lightgrey;">로그아웃</button>
        <% } %>
</div>