<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8"/>
        <title>SKKLUB</title>
    </head>
    <body>
    <h1> 동아리 수정 </h1>
    <div>
    <form method = "POST" enctype="multipart/form-data" action = "/update">
    <p>동아리명: <input type ="text" name="name"></p>
    <p>분과: <input type ="text" name="category"></p>
    <p>캠퍼스: <input type ="text" name="campus"></p>
    <p>작성자: <input type ="text" name="author"></p>
    <input type ="hidden" name="id" value="2"></p>
    <p>로고파일: <input type="file" name="logo"/></p>
    
    <button type="submit">submit</button>
    </form>
    </div>
    </body>
</html>